@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    font-weight: 500;
  }
}

@layer components {
  .category {
    @apply flex flex-row gap-4 p-3 rounded-md bg-opacity-10 items-center;
  }

  .category__score {
    @apply flex gap-2 text-sm;
  }

  .category__score > :first-child {
    @apply font-bold;
  }

  .category__score > :not(:first-child) {
    @apply text-dark-gray-blue font-bold opacity-60;
  }
}
